    @font-face {
    font-family: 'Raleway';
    src:
    local('Raleway'), local('raleway'),
        url('../fonts/Raleway-Regular.woff2') format('woff2'),
        url('../fonts/Raleway-Regular.woff') format('woff');
    font-weight: normal;
    font-display: swap;
    }
